<div class="title-aboutus">
	<h1>
		About me
	</h1>
</div>
<div class="description-about">
	<div class="container px-4 text-center">
		<div class="row align-items-start">
			<div class="col-md-8" style="margin-left: 6rem;">
				<p>
					Let me introduce myself, MrMarrant, I'm in my twenties, I'm finishing my last year of a Master's degree in Computer Science and I currently consider myself 
																																								                        as a Full Stack Web and Mobile developer.
				</p>
				<p>
					I started out studying medicine, and life being very strange at times, I ended up doing web work by day, 
																																								                        and mods with
					<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2956796515">clowns</a>
					the night.
				</p>
				<p>
					I mainly create mods and other small creations in my spare time, mainly for Garry's Mod.<br>
					But due to my professional activities, I also create a few websites, both backend and frontend.
				</p>
			</div>
			<div class="col">
				<img class="photo" src={{asset('images/mrmarrant_pdp.png')}} class="rounded mx-auto d-block" alt="...">
			</div>
		</div>
	</div>
	<div>
