<div class="description-link">
	<h3>
		How to contact me ?
	</h3>
	<div class="container">
		<div class="block">
			<center>
				<a href="https://steamcommunity.com/id/mrmarrant"><img class="icon_link" src={{asset('images/steam.png')}} class="rounded mx-auto d-block" alt="..."></a>
			</center>
			<div class="description">
				mrmarrant/
			</div>
		</div>
		<div class="block">
			<center>
				<a href="https://wlo.link/@MrMarrant"><img class="icon_link" src={{asset('images/profile.svg')}} class="rounded mx-auto d-block" alt="..."></a>
			</center>
			<div class="description">
				wlo.link/@MrMarrant
			</div>
		</div>
		<div class="block">
			<center>
				<a href="https://discord.gg/tuMNx3PkkP"><img class="icon_link" src={{asset('images/discord.png')}} class="rounded mx-auto d-block" alt="..."></a>
			</center>
			<div class="description">
				mrmarrant
			</div>
		</div>
		<div class="block">
			<center>
				<a href="https://github.com/MrMarrant"><img class="icon_link" src={{asset('images/github-mark.svg')}} class="rounded mx-auto d-block" alt="..."></a>
			</center>
			<div class="description">
				MrMarrant
			</div>
		</div>
	</div>
</div>
