{% block stylesheets %}
    {{ encore_entry_link_tags('header') }}
{% endblock %}

<div class="title-portfolio">
    <h1 id="title_name" data-value="MrMarrant">MrMarrant</h1>
</div>
<div class="description-header">
    <h2 id="description_job" data-value="Développeur FullStack"></h2>
    <h2 id="description_hobbie" data-value="Moddeur Garry's Mod"></h2>
</div>