.title-aboutus {
    padding-left: 20px;
}

.description-about {
    padding-top: 50px;
    font-size:25px;
    font-family: "Arial";
}

a {
    color: #efe8e8;
    text-decoration: none;
}

a:hover {
    color: #dc8100;
    text-decoration: none;
}

.photo {
    width: 300px;
}