.container-aboutus {
    width: 50%;
    height: 50;
    padding-top: 10px;
}

.title-aboutus {
    padding-left: 20px;
}

.description-about {
    padding-top: 50px;
    font-size:25px;
    font-family: "Arial";
}

.short-description {

/*     width: 700px; */
/*     width: 800px;
    padding-bottom: 30px; */
}

a {
    color: #efe8e8;
    text-decoration: none;
}

a:hover {
    color: #dc8100;
    text-decoration: none;
}

.photo {
    width: 250px;
}

.img-pdp {
/*     align-items: center; */
/*     float:right;
    padding-right: 200px; */
}