@import "bootstrap/scss/bootstrap";

// ## PortFolio ##
body {
    color: #efe8e8;
    background-color: #242222;
}
h1 {
    font-size: 10rem !important;
    //font-family: 'Futura';
}
h2 {
    font-family: "Arial";
}
h3 {
    text-align: center;
}
hr {
    color: #efe8e8;
}

section {
    width: 100%;
    min-height: 100vh;
    padding-left: 20px;
    padding-top: 10px;
}

// ## AboutUs ##
.title-aboutus {
    padding-left: 20px;
}

.description-about {
    padding-top: 50px;
    font-size:25px;
    font-family: "Arial";
}

a {
    color: #efe8e8;
    text-decoration: none;
}

a:hover {
    color: #dc8100;
    text-decoration: none;
}

.photo {
    width: 300px;
}

// ## Header ##
.description-header {
    padding-top: 100px;
    padding-left: 5px;
}

// ## Projects ##
.row {
    --bs-gutter-x: 0rem !important;
}

.title-project {
    padding-bottom: 5rem;
}

.list-projects {
    left: 50%;
}

.card {
    background-color: #656565 !important;
}
.card:hover {
    transform: scale(1.1);
    .card-title {
        color: #dc8100;
    }
}

.project-card-hearder {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
}

.link-project {
    margin-left: 45%;
    margin-top: 5%;
}

.steam,.github, .other {
    width: 1.5rem;
    margin-left: 0.5rem;
}

.icon {
    width: 3.5rem;
}

.project-text-footer {
    color: #000000;
    font-weight: bold;
}