// ## PortFolio ##
body {
    color: #efe8e8;
    background-color: #4d4d4d;
}
h1 {
    font-size: 10rem !important;
    //font-family: 'Futura';
}
h2 {
    font-family: "Arial";
}
h3 {
    text-align: center;
}
hr {
    color: #efe8e8;
}

section {
    width: 100%;
    //min-height: 100vh;
    padding-left: 20px;
    padding-top: 10px;

    /*   skew adds a 4.76 degree slope and the translateY equation is based on the fact that a 4.76 degree slope has a gradient of 1:12 */
    -webkit-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
    -ms-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
    transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
    /*   And finally we account for the slope to make sure each section can occupy the full window... I added 10vw just to give it a little extra padding */
    min-height: calc(100vh - (110vw / -12));
}

/* COLORS AND OTHER STYLES TO ILLUSTRATE SECTIONS */
section:nth-child(1) {
    background-color: #242222;
}
section:nth-child(2) {
    background-color: #4d4d4d;
}
section:nth-child(3) {
    background-color: #242222;
}
section:nth-child(4) {
    background-color: #4d4d4d;
    min-height: 15vh;
    position: relative;
    -webkit-transform: skew(0);
    -ms-transform: skew(0);
    transform: skew(0);
    margin-top: calc(100vw / -12);
    padding-top: calc(100vw / 12);
    z-index: -1;
    margin-bottom: 3rem;
}

.section-link {
    width: 100%;
    min-height: 10vh;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
}

// ## Header ##

.title-portfolio {
    margin-top: 5rem;
}

// ## AboutUs ##
.title-aboutus {
    padding-left: 20px;
}

.description-about {
    padding-top: 50px;
    font-size: 25px;
    font-family: "Arial";
}

a {
    color: #efe8e8;
    text-decoration: none;
}

a:hover {
    color: #dc8100;
    text-decoration: none;
}

.photo {
    width: 300px;
}

.col {
    padding-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

// ## Header ##
.description-header {
    padding-top: 100px;
    padding-left: 5px;
}

// ## Projects ##
.row {
    --bs-gutter-x: 0rem !important;
}

.title-project {
    padding-bottom: 5rem;
}

.list-projects {
    padding-left: 10rem;
}

.card {
    background-color: #656565 !important;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    .card-title {
        color: #dc8100;
    }
}

.project-card-hearder {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
}

.link-project {
    margin-left: 45%;
    margin-top: 5%;
}

.steam,
.github,
.other {
    width: 1.5rem;
    margin-left: 0.5rem;
}

.icon {
    width: 3.5rem;
}

.project-text-footer {
    color: #000000;
    font-weight: bold;
}

// ## Links ##

.description-link {
    padding-bottom: 2rem;
    background-color: #4d4d4d;
}

.container {
    display: flex;
}

.block {
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #efe8e8;
    margin: 2px;
    transition: all 0.7s ease;
}

.block:hover {
    flex: 2;
    background-color: #dc8100;
    .description {
        display: block;
    }
}

.icon_link {
    width: 3.5rem;
    display: block;
    font-size: 40px;
}

.description {
    color: #000000;
    display: none;
}