@font-face {
    font-family: 'Glacial Indifference';
    src: url('../fonts/GlacialIndifference.eot');
    src: url('../fonts/GlacialIndifference.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GlacialIndifference.woff2') format('woff2'),
    url('../fonts/GlacialIndifference.woff') format('woff'),
    url('../fonts/GlacialIndifference.ttf') format('truetype'),
    url('../fonts/GlacialIndifference.svg#GlacialIndifference') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    color: #efe8e8;
    background-color: #242222;
    font-family: Glacial Indifference;
}
section {
    width: 100%;
    padding-top: 10px;
    min-height: 100vh;
}

.title {
    position: absolute;
    text-align: center;
    padding-top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.detailed {
    display: flex;
    position: absolute;
    width: 90%;
    top: 30%;
    left: 10%;
}
.info {
    font-size: 2.5rem !important;
    //margin-top: 1%;
    margin-left: 1%;
}
.photo {
    width: 500px;
}
h1 {
    text-align: center;
    font-size: 5rem !important;
}
h2 {
    font-family: "Arial";
}
h3 {
    text-align: center;
}
hr {
    color: #efe8e8;
}

.customLink {
    color: #efe8e8;
    text-decoration: none;
}
.customLink:hover {
    color: #dc8100;
    text-decoration: underline;
}
