<div class="title">
	<h1>Description</h1>
</div>

<div class="description">
	<h2 class="description-short" style="color: #FF914D;">{{ query.shortDescription }}</h2>
	<h3 class="description-long">{{ query.longDescription }}</h3>
</div>